*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

li a{
    color: aliceblue;
    text-decoration: none;
}

header{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.menu ul{
    display: flex;
    align-items: center;
}
.menu li{
    margin-right: 50px;
    padding: 10px;
}

.menu a:hover{
    color: yellow;
}

.menu a.active{
    font-weight: bold;
    color: yellow;
}

.texto{
    text-align: center;
    margin: 25px;
}
.img{
    width: 40%;
    margin: 10px 10px;
}

.carousel-inner img {
    max-width: 450px;
    margin: 0 auto;
    display: block;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    bottom: 50px;
    transform: translateY(50px);
}
